:root {
  --color-primary-darkblue: #1E3A8A;
  --color-primary-lightblue: #3B82F6;
  --color-primary-white: #FFFFFF;
  --color-secondary-darkgray: #4B5563;
  --color-secondary-lightgray: #9CA3AF;
  --color-secondary-beige: #F5F5DC;
  --color-accent-coral: #F87171;
  --color-accent-emerald: #10B981;
  --color-accent-gold: #FBBF24;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-secondary-beige);
  color: var(--color-secondary-darkgray);
}

header {
  background-color: var(--color-primary-darkblue);
  color: var(--color-primary-white);
  padding: 100px 0;
  text-align: center;
}

header .container {
  max-width: 800px;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5em;
  margin: 0 0 20px;
}

header p {
  font-size: 1.2em;
  margin: 0 0 20px;
}

header .btn {
  background-color: var(--color-accent-gold);
  color: var(--color-primary-darkblue);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

header .btn:hover {
  background-color: var(--color-accent-coral);
}

section {
  padding: 60px 0;
}

section .container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

section h2 {
  font-size: 2em;
  margin-bottom: 40px;
}

.service {
  margin-bottom: 20px;
}

footer {
  background-color: var(--color-secondary-darkgray);
  color: var(--color-primary-white);
  text-align: center;
  padding: 20px 0;
}

footer .container {
  max-width: 800px;
  margin: 0 auto;
}

h3 {
  color: var(--color-primary-darkblue); /* Mittleres Blau */
}

.sidebarPanel {
  background-color: var(--color-secondary-lightgray); /* Helles Blau */
  border: 1px solid var(--color-primary-darkblue); /* Mittleres Blau */
  padding: 15px;
  border-radius: 5px;
}

.mainPanel {
  background-color: var(--color-primary-white);
  border: 1px solid var(--color-secondary-lightgray);
  padding: 15px;
  border-radius: 5px;
}

.tabsetPanel .nav-tabs > li > a {
  color: var(--color-primary-darkblue); /* Mittleres Blau */
}

.tabsetPanel .nav-tabs > li.active > a {
  background-color: var(--color-primary-darkblue); /* Mittleres Blau */
  color: var(--color-primary-white);
}

.downloadButton {
  background-color: var(--color-primary-darkblue); /* Mittleres Blau */
  color: var(--color-primary-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: var(--color-primary-lightblue); /* Dunkleres Blau */
}

.actionButton {
  background-color: var(--color-primary-darkblue); /* Mittleres Blau */
  color: var(--color-primary-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: var(--color-primary-lightblue); /* Dunkleres Blau */
}
